.header {
  background: url(/header_img.png) no-repeat;
  height: 35vw;
  margin: 10px auto;
  background-size: contain;
  position: relative;

  .header-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5vw;
    bottom: 20%;
    left: 6vw;
    max-width: 50%;
    animation: fadeIn 3s ease-in-out;
    h1 {
      font-size: max(4.5vw, 22px);
      color: #fff;
      font-weight: 500;
    }
    p {
      font-size: 1vw;
      color: #fff;
    }
    button {
      background-color: #fff;
      color: #747474;
      font-weight: 500;
      padding: 1vw 2.5vw;
      font-size: max(1.4vw);
      border: none;
      border-radius: 50px;
      cursor: pointer;
      transition: 0.5s ease;
      &:hover {
        background-color: #e8e8e8;
      }
    }
  }
}

@media (max-width: 1050px) {
  .header-content {
    max-width: 45%;
  }
  .header-content p {
    display: none;
  }
}
@media (max-width: 750px) {
  .header-content {
    max-width: 65%;
  }
  .header-content p {
    display: none;
  }
  .header-content button {
    padding: 2vw 4vw;
  }
}
